.App {
  width: 700px;
}

h1 {
  line-height: 100%;
  padding-top: 30px;
}

.NavigationBar {
  display: flex;
  flex-direction: column;
}

.LinksContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.LinksContainer a{
  text-decoration: None;
  color: var(--main-color);
  font-size: 2.5vh;
  transition-duration: 0.4s;
}

.LinksContainer a:hover {
  color: var(--accent-blue);
}

.LinkContainer {
  display: flex;
  width: 150px;
  padding: 5px 0px;
  margin-right: 10px;
  justify-content: center;
  background-color: var(--sec-color);
}

input, select {
  font-family: "Oswald";
  border: none;
  color: var(--text-color);
  font-size: 15px;
  width: 90px;
}

form {
  display: flex;
  flex-direction: column;
}

.FormContent, .Categories, .AssignmentRow {
  display: flex;
  justify-content: space-between;
}

.AssignmentList {
  padding-bottom: 200px;
}

.CreateAssignment {
  position: fixed; 
  bottom: 0%;
  padding: 50px 0px 20px 0px;
  width: 700px;
  height: 100px;
  background-color: var(--main-color);
  background: linear-gradient(to top, var(--main-color) 80%, rgb(255, 255, 255, 0));
}

*:focus {
  outline: none;
}

.Subject {
  width: 100px;
}

.Assignment {
  width: 350px;
}

.Weight, .Grade {
  width: 50px;
}

.Due {
  width: 90px;
}

.DeletePlaceholder, .EditPlaceholder{
  width: 20px;
}

.Button {
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px;
  background-color: var(--accent-green);
  color: var(--sec-color);
  transition-duration: 0.4s;
}

.Button:hover {
  background-color: #8ED600;
}

.SubjectForm {
  width: 100%;
}

.AssignmentRow {
  display: flex;
  background-color: var(--sec-color);
  color: var(--accent-blue);
  margin: 5px 0px;
}

.Delete, .Edit, .Edit a {
  background-color: var(--sec-color);
  border: none;
  color: var(--main-color);
  width: 20px;
  font-weight: bolder;
  transition-duration: 0.4s;
  text-decoration: none;
}

.Delete:hover, .Edit:hover, .Edit a:hover {
  color: var(--accent-red);
}