.App {
  width: 700px;
}

.Navigation {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

.Navigation a{
  text-decoration: None;
  color: var(--main-color);
  font-size: 2.5vh;
  transition-duration: 0.4s;
}

.Navigation a:hover {
  color: var(--accent-blue);
}

.LinkContainer {
  display: flex;
  background-color: var(--sec-color);
  width: 31%;
  padding: 5px 0px;
  justify-content: center;
}

input, select {
  font-family: "Oswald";
  border: none;
  color: var(--text-color);
  font-size: 15px;
  width: 90px;
}

form {
  display: flex;
  flex-direction: column;
}

.FormContent, .Categories, .AssignmentRow {
  display: flex;
  justify-content: space-between;
}

*:focus {
  outline: none;
}

.Subject {
  width: 100px;
}

.Assignment {
  width: 350px;
}

.Weight, .Grade {
  width: 50px;
}

.Due {
  width: 90px;
}

.Button {
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px;
  background-color: var(--accent-green);
  color: var(--sec-color);
  transition-duration: 0.4s;
}

.Button:hover {
  background-color: #8ED600;
}

.SubjectForm {
  width: 100%;
}

.AssignmentRow {
  background-color: var(--sec-color);
  color: var(--accent-blue);
  margin: 5px 0px;
}

.Delete {
  background-color: var(--sec-color);
  border: none;
  color: var(--main-color);
  width: 20px;
  font-weight: bolder;
  transition-duration: 0.4s;
}

.Delete:hover {
  color: var(--accent-red);
}

