:root {
  --main-color: #1A1F25;
  --sec-color: #202B37;
  --text-color: #E5E5E5;
  --accent-blue: #3B9EE5;
  --accent-red: #CF4B2C;
  --accent-green: #7FBA0B;
}

body {
  margin: 0;
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--text-color);
}
